body {
  margin: 0px 80px 0px 80px;
  padding: 50px;
  font-family: sans-serif;
  background-color: #3c4556;
}

.title {
  font-size: 1.5em;
}

form {
  margin-top: 20px;
}

.MuiButtonBase-root-46 {
  margin-left: 20px;
}

@media only screen and (max-width: 766px) {
  body {
    margin: 20px;
    padding: 20px;
  }
}

@media only screen and (max-width: 466px) {
  body {
    margin: 10px;
    padding: 10px;
  }
}
